$MOBILE: 800px;
$DESKTOP: 1100px;
// media queries
@mixin Responsive($canvas) {
  @if $canvas == MOBILE {
    @media only screen and (max-width: $MOBILE) {
      @content;
    }
  }
  @if $canvas == DESKTOP {
    @media only screen and (min-width: $DESKTOP) {
      @content;
    }
  }
}
$color-title: #f4f4f4;
$color-sub: #b8b8b8;
@mixin font-default {
  font-family: "Circular Std" !important;
}
@mixin font-special {
  font-family: "BelfastGrotesk-SemiBold" !important;
}
@mixin color-title {
  color: $color-title;
}
@mixin color-sub {
  color: $color-sub;
}

.mt-1 {
  margin-top: 1em;
}

iframe {
  z-index: -1 !important;
}

.w-100 {
  width: 100%;
}

img[alt='point'], img[alt='fdt'] {
  width: 20px;
}

@import "./page/animationCommon.scss";
@import "./page/market.scss";
@import "./page/base.scss";
@import "./layout/default.scss";
@import "./antd/menu.scss";
@import "./layout/topbar.scss";
@import "./layout/modalwallet.scss";
@import "./page/claim.scss";
@import "./layout/modalMenu.scss";
@import "./page/landing.scss";
@import "./page/layout.scss";
@import "./page/team.scss";
@import "./modal/modalInstall.scss";
@import "./antd/pagination.scss";
@import "./page/staking.scss";
@import "./page/responsive.scss";
@import "./antd/pagination.scss";
@import "./page/market.scss";
@import "./page/collection.scss";
@import "./page/swap.scss";
@import "./antd/notification.css";
@import "./page/profile.scss";
