@font-face {
  font-family: "BelfastGrotesk-SemiBold";
  src: url("type-font/Belfast Grotesk Semi Bold.ttf");
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url("type-font/CircularStd-Book.otf");
  font-display: fallback;
  font-weight: 400;
  font-style: normal;
}
