#claim {
  .ml-8 {
    margin-left: 8px;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .mr-8 {
    margin-right: 8px;
  }

  .ant-space-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ant-tabs-nav {
    margin-bottom: 40px;
  }
  .c2i-relative {
    position: relative;
  }
  .ant-spin.ant-spin-spinning {
    position: relative;
    width: 150px;
    height: 150px;
    top: unset;
    left: unset;
    transform: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    .ant-spin-dot.ant-spin-dot-spin {
      font-size: 62px !important;
      .ant-spin-dot-item {
        width: 30px;
        background-color: #41718c;
        height: 30px;
      }
    }
  }

  
  .total-container {
    max-width: 504px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 576px) {
      flex-direction: column;
      justify-content: center;
      
    }
    .line {
      height: 20px;
      width: 2px;
      background: #999;
      // z-index: 2;
      @media (max-width: 576px) {
        display: none;
      }
    }
    .total-item{
      @media (max-width: 576px) {
        margin-top: 40px;
      }
    }
  }
  .menu-container {
    width: 100%;
    .confirm-btn{
      margin-top: 12px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 24px;
      position: static;
      height: 48px;
      border: 1.5px solid #7A7A7A;
      background: transparent;
      cursor: pointer;
      @include color-sub;
      &:hover {
        background: white;
        color: black;
      }
    }
    .confirm-btn-twins {
      margin-top: 12px;
      width: 49%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 24px;
      position: static;
      height: 48px;
      border: 1.5px solid #7A7A7A;
      background: transparent;
      cursor: pointer;
      @include color-sub;
      &:hover {
        background: white;
        color: black;
      } 
    }
    .ant-space-item{
      width: 100%;
      display: block;
      text-align: left;
    }
    .ant-tabs-tabpane {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    .item-menu-container {
      max-width: 504px;
      width: 100%;
      min-height: 264px;
      border: 1.5px solid #999999;
      padding: 20px 16px;
    }
    .line {
      width: 100%;
      height: 1.5px;
      background: #999999;
    }
    .c2i-form-control {
      margin-top: 0px;
      .ant-input {
        background: #302A3C;
        border: none;
        font-size: 16px;
        line-height: 24px;
        padding: 12px 16px;
        // height: auto;
      }
    }
    .img-third{
      max-width: 210px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .dot-green {
    width: 8px;
    height: 8px;
    background: #72DE99;
    margin-right: 12px;
  }
  #scepter {
    .confirm-btn {
      margin-top: 0px;
    }
    .ant-space-item {
      // display: inline-block;
      width: auto;
    }
    max-width: 570px !important; 
    width: 100%;
  
  }
  #crown {
    .ant-col {
      width: fit-content;
    }
    .ant-space-item {
      display: flex;
      align-items: flex-start;
    }
    .w-100 {
      width: 100%;
      // min-width: 319px;
      min-width: fit-content;
    }
    .frame {
      border: 1.5px solid #999999;
      padding: 20px 16px;
      margin: auto;
    }
    .attribute {
      border: 1.5px solid;
      padding: 4px 12px;
      white-space: nowrap;
    }
    .img {
      width: 100%;
      min-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  #staking {

    .ant-space {
      width: 100%;
    }
    .frame {
      border: 1.5px solid #999999;
      padding: 20px 16px;
      margin: auto;
      .module-title {
        @media (min-width: 992px){
          white-space: nowrap;
        }
      }
    }
    .module-title {
      span {
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 24px !important;
        line-height: 36px !important;
      }
    }
    .input-section{
      
    }
  }
  .skeleton-img{
    width: 319px !important;
    height: 319px !important;
    @media (max-width: 1200px) {
    max-width: 319px !important;

      width: 258.98px !important;
      height: 258.98px !important;
    }
    @media (max-width: 992px) {
      width: 298px !important;
      height: 298px !important;
    }
    @media (max-width: 768px){
    max-width: 319px !important;

    width: 319px !important;
    height: 319px !important;
    }
    @media (max-width: 576px){
      width: auto !important;
      max-height: 319px !important;
    }
  }
  .flex {
    display: flex;
  }
  .items-center {
    align-items: center;
  }
  .justify-center {
    justify-content: center;
  }
  .items-between {
    align-items: space-between;
  }
  .justify-between {
    justify-content: space-between;
  }
  .w-100 {
    width: 100%;
  }
  .h-100 {
    height: 100%;
  }
  .wrap {
    flex-wrap: wrap;
  }
}
