.date_picker_container {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .date_picker_wrapper {
    margin-left: 24px;
    margin-right: 24px;
    .date_picker {
      height: 40px;
      display: flex;
      margin: auto;
      position: relative;
      .anticon.anticon-calendar {
        position: absolute;
        left: 18px;
        width: 24px;
        height: 24px;
        top: 0;
        transform: translateY(50%);
        svg {
          fill: #999;
        }
      }
      .ant-picker {
        width: 173px;
        height: 40px;
        background-color: transparent;
        border-radius: 24px;
        color: #999999;
        .ant-picker-input {
          width: 60%;
          position: absolute;
          right: 20px;

          input {
            color: #999;
          }
          .ant-picker-suffix {
            display: none;
          }

          .ant-picker-clear {
            display: none;
          }
        }
      }
    }
  }

  .anticon.custom-arrow {
    color: #999999;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
