#main-layout {
  $color-gray: #999999;
  .lucky-gray {
    color: $color-gray !important;
  }
  .ant-spin.ant-spin-spinning {
    position: relative;
    width: 150px;
    height: 150px;
    top: unset;
    left: unset;
    transform: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    .ant-spin-dot.ant-spin-dot-spin {
      font-size: 62px !important;
      .ant-spin-dot-item {
        width: 30px;
        background-color: #41718c;
        height: 30px;
      }
    }
  }

  #container-inside-lucky-card {
    margin-bottom: 0px;
    @media (max-width: 992px) {
      margin-bottom: 16px !important;
    }
  }

  #section-lucky-ticket {
    .module-card {
      padding: 20px;
      border: 2px solid #c4c4c4;
      border-radius: 7px;
      text-align: start;
      background-image: url("./../../assets/png/bannerMini.png");
      background-size: cover;
      position: relative;

      .module-card-header {
        .module-blur {
          display: inline-block;
          color: $color-title;
        }

        .module-card-percentage {
          font-size: 16px;
          line-height: 24px;
          color: #000;
          border-color: #000;
          font-family: "Circular Std";
        }

        .module-card-button {
          margin-top: 12px;
          .ant-btn.ant-btn-default {
            border-color: #000 !important;
            span {
              color: #000 !important;
            }
          }
        }
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 9%;
        background-color: transparent;
        left: 3.5%;
        border: 2px solid #c4c4c4;
        border-radius: 7px;
        width: 100%;
        z-index: -1;
        height: 100%;
      }

      .module-card-wda {
        font-family: "BelfastGrotesk-SemiBold";
        font-size: 24px;
        margin-top: 10px;
      }

      &.disabled {
        background-color: transparent !important;

        &::after {
          border: 1.5px solid #999999 !important;
        }

        .module-card-header {
          .module-blur {
            color: #fff !important;
          }
          .module-card-button {
            .ant-btn.ant-btn-default {
              cursor: not-allowed !important;
              border-color: #a0a0a0 !important;
              span {
                color: #a0a0a0 !important;
              }
            }
          }
        }

        .module-card-body {
          .module-card-wda {
            color: #fe84cf;
          }
        }
      }
    }

    .bottom-section-lucky {
      .pricing,
      .Contribution,
      .ticket-hold {
        display: flex;
        justify-content: space-between;

        .text-right {
          font-family: "BelfastGrotesk-SemiBold";
          font-size: 16px;
          line-height: 24px;
          color: $color-title;
        }
      }
    }

    .lucky-text {
      font-family: "BelfastGrotesk-SemiBold";
      font-size: 16px;
      line-height: 24px;
      color: $color-title;
    }
    .lucky-text-dark {
      color: #221e2a !important;
    }
    .lucky-input-container {
      display: flex;
      justify-content: space-between;
      margin: 16px 0;

      .lucky-input-ticket {
        height: 48px;
        width: 100%;
        background: #221e2a;
        border: 1.5px solid #7a7a7a;
        padding: 12px 16px;
        font-family: "Circular Std", sans-serif;
        border: 1.5px solid $color-title;
        font-size: 16px;
        line-height: 24px;
        color: $color-title;
        margin-right: 12px;
      }

      .lucky-set-max-button {
        max-width: 80px;
        width: 100%;
        height: 48px;
        background: transparent;
        border: 1.5px solid $color-title;
        font-family: "Circular Std";
        font-size: 16px;
        line-height: 24px;
        color: $color-title;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          background: white;
          color: black;
        }
      }
    }

    .lucky-join-button {
      font-family: "Circular Std";
      font-style: normal;
      font-size: 16px;
      line-height: 24px;
      color: #7a7a7a;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 48px;
      border: 1.5px solid #7a7a7a;
      background: transparent;
      cursor: pointer;
      &:hover {
        background: white;
        color: black;
      }
    }

    .module-progress {
      height: 8px;
      background: $color-title;
      border-radius: 4px;
      overflow: hidden;

      .progress-active {
        height: 8px;
        background: #fe84cf;
        border-radius: 4px;
      }
    }
  }
  #history-lucky-ticket {
    #address-container {
      .module-blur {
        color: $color-title !important;
        margin-left: 8px;
      }
    }
    .profile-img {
      width: 24px;
      height: 24px;
      border-radius: 100%;
      background: gray;
    }
    .ant-space-item {
      width: 100%;
      height: auto;
      display: flex;
      // align-items: center;
    }
    .lucky-line {
      height: 1.5px;
      width: 100%;
      background: $color-title !important;
      display: inline-block;
    }
    .lucky-item-icon {
      width: 23.41px;
      height: 18.72px;
    }
    .lucky-jacket-badge {
      border: 1.5px solid #fbcb4e;
      border-radius: 20px;
      padding: 4px 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        margin: 0;
      }
    }
    .lucky-luck-badge {
      border: 1.5px solid #72de99;
      border-radius: 20px;
      padding: 4px 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        margin: 0;
      }
    }
    .lucky-history-items {
      border: 1.5px solid #999999;
      border-radius: 8px;
      padding: 20px 16px;
      height: 204px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .module-blur {
      color: #221e2a !important;
      margin: 0;
    }

    .module-title {
      white-space: nowrap;
      margin: 0;
      color: #221e2a;
    }

    .lucky-card-container {
      display: flex;
      align-items: center;
      justify-content: space-between !important;
      @media (max-width: 992px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    .lucky-claim-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 24px !important;
      // width: 100%;
      background: transparent;
      height: 48px;
      border: 1.5px solid #221e2a;
      box-sizing: border-box;
      white-space: nowrap;
      color: black;
      cursor: pointer;
      z-index: 2;
      @media (max-width: 992px) {
        min-width: 100%;
      }
      &:hover {
        background: white;
        color: black;
      }
    }
    .module-header {
      margin-bottom: 24px;
    }

    .lucky-win-jacket-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 22px 31px;
      background: #fbcb4e;
      border-radius: 8px;
      // max-width: 418.38px;
      min-height: 108px;
      // max-width: 420px;
      max-width: 100%;
      width: 100vw;
      position: relative;
      z-index: 0;
      &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: transparent;
        left: 1.56%;
        top: 5.36%;
        border: 2px solid #fbcb4e;
        border-radius: 7px;
        width: 100%;
        z-index: -1;
        height: 100%;
      }
      @media (max-width: 992px) {
        max-width: 100%;
      }
    }
    .lucky-win-ticket-card {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 22px 31px;
      background: #72de99;
      // max-width: 420px;
      border-radius: 8px;
      min-height: 108px;
      width: 100%;
      // max-width: 418.38px;
      position: relative;
      z-index: 0;
      &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: transparent;
        left: 1.56%;
        top: 5.36%;
        border: 2px solid #72de99;
        border-radius: 7px;
        width: 100%;
        z-index: -1;
        height: 100%;
      }
      @media (max-width: 992px) {
        max-width: 100%;
      }
    }
  }
}
