#section-mining-crown {
    .content-mining {
        .number-mining {
            margin-top: 24px;
            margin-bottom: 56px;
            span {
                border: 1.5px solid #f4f4f4;
                box-sizing: border-box;
                border-radius: 24px;
                padding: 8px 20px;
            }
        }
        .day-value {
            margin-left: 16px !important;
            min-width: 72px !important;
            align-items: center !important;
            display: flex !important;

            &.show {
                color: #72de99;
            }
        }

        .choose-nft {
            &:hover {
                cursor: pointer;
                span {
                    color: #f4f4f4;
                }
            }
        }
        .item-mining {
            margin: 24px 0px !important;
            .choose-nft {
                .item-round {
                    height: 40px;
                }
            }

            &last {
                border-top: 1.5px solid #f4f4f4;
                padding-top: 24px;
            }

            .item-crown {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .image-crown {
                    width: 39px;
                    height: 52px;
                    background: #999999;
                    border: 1.5px solid #f4f4f4;
                    box-sizing: border-box;
                }
                .info {
                    margin-left: 15px;
                    .info-c {
                        display: flex;
                        align-items: center;
                        .point {
                            width: 8px;
                            height: 8px;
                            background: #72de99;
                            margin-right: 5px;
                        }
                    }
                }
            }

            .footer-mining {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-top: 1.5px solid #f4f4f4;
                padding-top: 24px;
                margin-top: 24px;

                .btn {
                    width: 48%;
                    border: 1.5px solid #f4f4f4;
                    box-sizing: border-box;
                    padding: 12px;
                    text-align: center;

                    &.full {
                        width: 100% !important;
                    }
                }
            }
        }
    }

    .mining-history {
        .mining-list-his {
            .list-item {
                display: flex;
                flex-wrap: wrap;
                .items-his {
                    //     width: 50%;
                    padding: 10px;
                    .item-his {
                        border: 1.5px solid #999999;
                        box-sizing: border-box;
                        padding: 20px 16px;

                        .card-head {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-bottom: 1.5px solid #f4f4f4;
                            padding-bottom: 16px;

                            .value1 {
                                font-size: 24px;
                                line-height: 36px;
                                color: #f4f4f4;
                            }

                            .value {
                                span {
                                    color: #72de99 !important;
                                    border: 1.5px solid #72de99;
                                    box-sizing: border-box;
                                    padding: 4px 12px;
                                }
                            }
                        }

                        .card-content {
                            padding-top: 16px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .info {
                                display: flex;
                                align-items: center;
                                .points {
                                    width: 8px;
                                    height: 8px;
                                    background: #72de99;
                                    margin-right: 12px;
                                }
                                .icon {
                                    margin-right: 8px;
                                    img {
                                        width: 24px;
                                        height: 24px;
                                        border-radius: 50%;
                                        border: 1.5px solid #f4f4f4;
                                        box-sizing: border-box;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
