.NFT_profile_container {
  background-color: transparent;
  border: none;
  text-align: left;
  margin-bottom: 48px;

  .ant-card-body {
    padding: 0;
  }

  * {
    color: #fff;
  }

  .NFT_profile_info {
    &__name {
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0em;
    }

    &__winner {
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0em;

      img {
        border: 1.5px solid #f4f4f4;
        border-radius: 50%;
      }

      &__address {
        margin-left: 8px;
      }

      &__tag {
        color: #999999;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
      }
    }

    &__born {
      margin-top: 16px;
      display: flex;
      align-items: center;
      .point {
        height: 8px;
        width: 8px;
        margin-right: 12px;
        background-color: #72de99;
      }

      &__time {
        color: #a0a0a0;

        span {
          margin-left: 5px;
        }
      }
    }
  }
}
