#main-layout {
  #section-vesting {
    .module-group-btn {
      margin: unset;
      .module-btn {
        width: 100%;
        text-align: center;
      }
    }
    .module-line {
      margin-top: unset !important;
    }
    .d-inline-block {
      display: inline-block;
      padding-right: 20px;
      &:last-child {
        padding-left: 20px;
      }
    }
    .module-title-small {
      @include font-default;
      font-size: 16px;
      line-height: 24px;
      @include color-title;
    }
    .module-border-right {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 1px;
        right: 0%;
        height: 20px;
        background-color: white;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .ant-btn.ant-btn-default {
      width: 100% !important;
      display: flex;
      align-items: center;
      margin: auto;
      text-align: center;
      span {
        margin: auto;
      }
    }
  }
}
